{% extends 'master.html' %}
{% load static %}
{% block content %}
<!-- about section -->

  <section class="about_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
          <marquee behaviour="" direction="" >We bridge the market to the consumers</marquee>
        <h2 class="bg-info">
          About <span>Us</span>
        </h2>
        <p>
            Welcome to my My Ecomerce your go to destination for online products
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about2.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3 class="bg-info">
              We Are My Ecommerce
            </h3>
            <p>
              We are dedicated to providing quality products .Our mission is to deliver innovation in every purchase.We believe in sustainability
                and ethical practices ensuring that our products are both eco-friendly and socially responsible.
               We pride ourselves on customer centric approach ensuring that every interaction  is seamless.
                At My Ecommerce we are more than just a store we are a community committed to making a positive impact.

            </p>
            <p>
            </p>
            <a href="">

            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock %}