{% extends 'master.html' %}
{% load static %}
{% block content %}

<marquee behaviour="" direction="" >For any assistance reach us through our communication platforms</marquee>
<h2 class="bg-info">CONTACT US</h2>
<p></p>enockimemia5@gmail.com</p>
<p>+254743836455</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.842751690647!2d37.316902174045595!3d-1.2670648356034788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18258b8758477efb%3A0xd3c26695b09623d6!2sTala%20town!5e0!3m2!1sen!2ske!4v1728982385967!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}